-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "highland";

-- CreateEnum
CREATE TYPE "highland"."UserRole" AS ENUM ('PATIENT', 'DOCTOR', 'ADMIN');

-- CreateEnum
CREATE TYPE "highland"."LeaveType" AS ENUM ('FULL_DAY', 'MORNING', 'AFTERNOON');

-- CreateEnum
CREATE TYPE "highland"."PatientType" AS ENUM ('MYSELF', 'SOMEONE_ELSE');

-- CreateEnum
CREATE TYPE "highland"."AppointmentStatus" AS ENUM ('PAYMENT_PENDING', 'BOOKING_CONFIRMED', 'COMPLETED', 'CANCELLED', 'NO_SHOW', 'CASH');

-- CreateEnum
CREATE TYPE "highland"."TransactionStatus" AS ENUM ('COMPLETED', 'FAILED', 'CANCELLED');

-- CreateTable
CREATE TABLE "highland"."user" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL DEFAULT 'NO_NAME',
    "email" TEXT NOT NULL,
    "password" TEXT,
    "emailVerified" TIMESTAMP(3),
    "role" "highland"."UserRole" NOT NULL DEFAULT 'PATIENT',
    "isRootAdmin" BOOLEAN DEFAULT false,
    "image" TEXT,
    "dateofBirth" TIMESTAMP(3),
    "phoneNumber" TEXT,
    "address" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "highland"."account" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "userId" UUID NOT NULL,
    "accountId" TEXT NOT NULL,
    "providerId" TEXT NOT NULL,
    "accessToken" TEXT,
    "refreshToken" TEXT,
    "idToken" TEXT,
    "accessTokenExpiresAt" TIMESTAMP(3),
    "refreshTokenExpiresAt" TIMESTAMP(3),
    "scope" TEXT,
    "password" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "highland"."verificationtoken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "highland"."doctorprofile" (
    "profileId" UUID NOT NULL DEFAULT gen_random_uuid(),
    "userId" UUID NOT NULL,
    "specialty" TEXT NOT NULL,
    "brief" TEXT NOT NULL,
    "credentials" TEXT NOT NULL,
    "languages" TEXT[],
    "rating" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "reviewCount" INTEGER NOT NULL DEFAULT 0,
    "specializations" TEXT[],
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "doctorprofile_pkey" PRIMARY KEY ("profileId")
);

-- CreateTable
CREATE TABLE "highland"."doctorleave" (
    "leaveId" UUID NOT NULL DEFAULT gen_random_uuid(),
    "doctorId" UUID NOT NULL,
    "leaveDate" DATE NOT NULL,
    "leaveType" "highland"."LeaveType" NOT NULL,
    "reason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "doctorleave_pkey" PRIMARY KEY ("leaveId")
);

-- CreateTable
CREATE TABLE "highland"."appsettings" (
    "id" TEXT NOT NULL DEFAULT 'global',
    "slotsPerHour" INTEGER NOT NULL DEFAULT 2,
    "startTime" TEXT NOT NULL DEFAULT '09:00',
    "endTime" TEXT NOT NULL DEFAULT '17:00',
    "slotReservationDuration" INTEGER NOT NULL DEFAULT 10,

    CONSTRAINT "appsettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "highland"."workingday" (
    "dayId" UUID NOT NULL DEFAULT gen_random_uuid(),
    "dayOfWeek" INTEGER NOT NULL,
    "isWorkingDay" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "workingday_pkey" PRIMARY KEY ("dayId")
);

-- CreateTable
CREATE TABLE "highland"."appointment" (
    "appointmentId" UUID NOT NULL DEFAULT gen_random_uuid(),
    "doctorId" UUID NOT NULL,
    "userId" UUID,
    "guestIdentifier" TEXT,
    "patientType" "highland"."PatientType" NOT NULL,
    "patientRelation" TEXT,
    "patientName" TEXT NOT NULL,
    "paymentMethod" TEXT,
    "paymentResult" JSONB,
    "paidAt" TIMESTAMP(3),
    "appointmentStartUTC" TIMESTAMP(3) NOT NULL,
    "appointmentEndUTC" TIMESTAMP(3) NOT NULL,
    "phoneNumber" TEXT,
    "reasonForVisit" TEXT,
    "additionalNotes" TEXT,
    "patientDateOfbBirth" TIMESTAMP(3),
    "reservationExpiresAt" TIMESTAMP(3),
    "status" "highland"."AppointmentStatus" NOT NULL DEFAULT 'PAYMENT_PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "appointment_pkey" PRIMARY KEY ("appointmentId")
);

-- CreateTable
CREATE TABLE "highland"."doctortestimonial" (
    "testimonialId" UUID NOT NULL DEFAULT gen_random_uuid(),
    "appointmentId" UUID NOT NULL,
    "doctorId" UUID NOT NULL,
    "patientId" UUID NOT NULL,
    "testimonialText" TEXT NOT NULL,
    "rating" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "doctortestimonial_pkey" PRIMARY KEY ("testimonialId")
);

-- CreateTable
CREATE TABLE "highland"."transaction" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "appointmentId" UUID NOT NULL,
    "doctorId" UUID NOT NULL,
    "paymentGateway" TEXT NOT NULL,
    "gatewayTransactionId" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "currency" TEXT NOT NULL,
    "status" "highland"."TransactionStatus" NOT NULL,
    "transactionDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "notes" TEXT,
    "paymentDetails" JSONB,

    CONSTRAINT "transaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "highland"."bannerimage" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "imageUrl" TEXT NOT NULL,
    "fileKey" TEXT NOT NULL,
    "order" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "bannerimage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "highland"."department" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "iconName" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "department_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "highland"."session" (
    "id" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "token" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "userId" UUID NOT NULL,

    CONSTRAINT "session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "highland"."verification" (
    "id" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "verification_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "user_email_key" ON "highland"."user"("email");

-- CreateIndex
CREATE UNIQUE INDEX "verificationtoken_token_key" ON "highland"."verificationtoken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "verificationtoken_identifier_token_key" ON "highland"."verificationtoken"("identifier", "token");

-- CreateIndex
CREATE UNIQUE INDEX "doctorprofile_userId_key" ON "highland"."doctorprofile"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "doctorleave_doctorId_leaveDate_key" ON "highland"."doctorleave"("doctorId", "leaveDate");

-- CreateIndex
CREATE UNIQUE INDEX "workingday_dayOfWeek_key" ON "highland"."workingday"("dayOfWeek");

-- CreateIndex
CREATE UNIQUE INDEX "doctortestimonial_appointmentId_key" ON "highland"."doctortestimonial"("appointmentId");

-- CreateIndex
CREATE UNIQUE INDEX "transaction_gatewayTransactionId_key" ON "highland"."transaction"("gatewayTransactionId");

-- CreateIndex
CREATE UNIQUE INDEX "department_name_key" ON "highland"."department"("name");

-- CreateIndex
CREATE UNIQUE INDEX "session_token_key" ON "highland"."session"("token");

-- AddForeignKey
ALTER TABLE "highland"."account" ADD CONSTRAINT "account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "highland"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "highland"."doctorprofile" ADD CONSTRAINT "doctorprofile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "highland"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "highland"."doctorleave" ADD CONSTRAINT "doctorleave_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES "highland"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "highland"."appointment" ADD CONSTRAINT "appointment_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES "highland"."user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "highland"."appointment" ADD CONSTRAINT "appointment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "highland"."user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "highland"."doctortestimonial" ADD CONSTRAINT "doctortestimonial_appointmentId_fkey" FOREIGN KEY ("appointmentId") REFERENCES "highland"."appointment"("appointmentId") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "highland"."doctortestimonial" ADD CONSTRAINT "doctortestimonial_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES "highland"."user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "highland"."doctortestimonial" ADD CONSTRAINT "doctortestimonial_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "highland"."user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "highland"."transaction" ADD CONSTRAINT "transaction_appointmentId_fkey" FOREIGN KEY ("appointmentId") REFERENCES "highland"."appointment"("appointmentId") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "highland"."transaction" ADD CONSTRAINT "transaction_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES "highland"."user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "highland"."session" ADD CONSTRAINT "session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "highland"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

